
html, body {
    margin: 0;
}
body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(247, 124, 210);
    padding: 300px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: inherit;
}

.menu a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.menu ul {
    list-style-type: none;
}

.menu a:hover {
  color: rgb(57, 58, 58);
  text-decoration: underline;
  background-color: rgba(245, 82, 237, 0.404);
}

.header {
    background-color: rgb(163, 148, 148);
    min-height: 150px;
    
}

#pet3 {
    width: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.content {
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    padding: 30px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.footer {
    background-color: rgb(250, 186, 49);
    min-height: 150px;
}

.footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 6px;
}
